
    
    {% include "header.html" %}

    <section class="body-font">
        <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 title">Top news in the entertainment industry</h1>
            <p class="lg:w-1/2 w-full leading-relaxed text-opacity-80">News taken from a variety of sources based on hollywood</p>
          </div>
    </section>

    {% for i in range(0,data|length,2) %}

    <section class="body-font -my-32">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
          <div class="flex flex-wrap items-stretch -m-4">
            <div class="p-4 lg:w-1/2 md:w-full">
              <a href="{{data[i].url}}" target="_blank">
                <div class="flex border-2 rounded-lg border-gray-600 hover:border-gray-400 p-8 sm:flex-row flex-col test-box card">
                    <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-green-400 flex-shrink-0">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                        <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                      </svg>
                    </div>
                    <div class="flex-grow">
                      <h2 class="title text-lg title-font font-medium mb-3">{{ data[i].source.name }}</h2>
                      <p class="leading-relaxed text-base title">{{ (data[i].title|string())[0:60]+"..." }}</p>
                      <a class="mt-3 text-green-400 inline-flex items-center" href="{{data[i].url}}">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                          <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
              </a>
            </div>
            <div class="p-4 lg:w-1/2 md:w-full ">
              <a href="{{data[i+1].url}}" target="_blank">
                <div class="flex border-2 rounded-lg border-gray-600 p-8 sm:flex-row flex-col hover:border-gray-400 test-box card">
                    <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-green-400 flex-shrink-0">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                          </svg>                     
                    </div>
                    <div class="flex-grow">
                      <h2 class="title text-lg title-font font-medium mb-3">{{ data[i+1].source.name }}</h2>
                      <p class="leading-relaxed text-base title">{{ (data[i+1].title|string())[0:60]+"..." }}</p>
                      <a class="mt-3 text-green-400 inline-flex items-center" href="{{ data[i+1].url }}">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                          <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
              </a>
            </div>
          </div>
        </div>
      </section>

    {% endfor %}

    {% include "footer.html" %}
